* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("//d17ol771963kd3.cloudfront.net/assets/bg/4-7b9b4f69751409d8e2ac8842ad103f9f.gif");
  background-size: 1224px 870px;
  align-items: center;
  min-height: 100vh;
}

header{
  margin-top: 310px;
  min-width: 180px;
}
header span {
  display: block;
  color: white;
  font-family: "Courier New", Courier, Monaco;
  margin-top: 12px;
  font-size: 12px;
}
header img {
  border: none;
  padding: 0 6px;
  background-color: red;
  width: 140px;
  height: 47px;
}

nav {
  min-height: 180px;
  margin-top: 60px;
  color: white;
}

nav ul {
  list-style-type: none;
}
nav ul li {
  padding-bottom: 10px;
}

nav ul li a{
  padding-bottom: 10px;
  font-size: 0.6875em;
  font-family: "Courier New", Courier, Monaco;
  color: white;
  text-decoration: none;
}



.movingSpan {
  display: none;
  transition: all 0.1s;
  background-color: red;
  z-index: -1;
  opacity: 0;
}
.movingSpan.on {
  display: block;
  position: absolute;
}
.on-active {
  opacity: 1;
}

footer {
  min-width: 180px;
  margin-top: 25px;
}
footer ul{
  padding: 0;
  list-style-type: none;
  display: flex;
}
footer a{
  opacity: 0.25;
  display: block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
footer li:first-child a{
  background: url(//d17ol771963kd3.cloudfront.net/assets/social-sprites@2x-99a55b4b9b11371b51d891cc52f43314.png) no-repeat center center;
  background-size: 15px 55px;
  background-position: 0px 0px;
}

footer li:nth-child(2) a{
  background: url(//d17ol771963kd3.cloudfront.net/assets/social-sprites@2x-99a55b4b9b11371b51d891cc52f43314.png) no-repeat center center;
  background-size: 15px 55px;
  background-position: 0px -20px;
}

footer li:last-child a{
  background: url(//d17ol771963kd3.cloudfront.net/assets/social-sprites@2x-99a55b4b9b11371b51d891cc52f43314.png) no-repeat center center;
  background-size: 15px 55px;
  background-position: 0px -40px;
}
